@model IEnumerable<Marketing.Models.NewOrders>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var neworder = new NewOrders().GetAll();
    var neworder1 = new Ragistation().GetAll();
}
@using Marketing.Models
<div class="card">
    <div class="card-header">
        <h5 class="text-center text-danger"><b>Order List</b></h5>
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
            var merabikibiki = neworder.FindAll(x => x.RagisID == item.RagisID);
            foreach (var ff in merabikibiki)
            {


                <div class="row w-100">
                    <div class="row w-100 pt-3 pb-2" style="border:groove;border-color:#a8f56d">
                        <div class=" col-sm-4">
                            @Html.Label("Name :-")
                            @{Ragistation ragistation = neworder1.Find(x => x.RagisID == ff.RagisID);  }
                            @ragistation.Name
                        </div>
                        <div class="col-sm-4">
                            @Html.Label("Address")
                            @{Ragistation ragistatio = neworder1.Find(x => x.RagisID == ff.RagisID); }
                            @ragistatio.Address
                        </div>
                        <div class="col-sm-4">
                            @Html.Label("Mobile")
                            @{Ragistation ragistati = neworder1.Find(x => x.RagisID == ff.RagisID); }
                            @ragistati.Mobile
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col-sm-2">
                            @Html.Label("Product Name")<br />
                            <ul>
                                @foreach (var jj in neworder)
                                {
                                    <li>
                                        @jj.ProductName
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Product Prize")<br />
                            <ul>
                                @foreach (var jj in neworder)
                                {
                                    <li>
                                        @jj.ProductPrize
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Quantity")<br />
                            <ul>
                                @foreach (var jj in neworder)
                                {
                                    <li>
                                        @jj.Qty
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Total Quantity")<br />
                            <ul>
                                @foreach (var jj in neworder)
                                {
                                    <li>
                                        @jj.TotalQty
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Total Prize")<br />
                            <ul>

                                <li>
                                    @item.PrizeTotal
                                </li>

                            </ul>
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Order Date")<br />
                            <ul>

                                <li>
                                    @item.Create_Date
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>
            }

        }
    </div>

</div>






